@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --white-1000: #fff;
    --orange-100: #FE5F44;
    --orange-500: #FF9B71;
    --black-100:  #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white-1000);
}

.objeto {
    position: absolute;
    z-index: -1;
    top: 250px;
    right: 0px;
    width: 956px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--black-100);    
}

nav > ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 110px;
}

ul > li {
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 38px;
    letter-spacing: -0.07em;
    cursor: pointer;
}

li:hover {
    color: var(--orange-100);
    transition: 0.3s;
}

nav > h4 {
    font-size: 48px;
    font-family: 'Noto Sans';
    font-size: 48px;
    letter-spacing: -0.07em;
}

.linha {
    width: 1300px;
    height: 4px;
    background: var(--black-100);
    margin-top: 22px;
}

header {
    padding: 60px 120px;
}

main > section {
    margin: 0px 120px;
}

section > h1 {
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 148px;
    letter-spacing: -0.07em;
    color: var(--black-100);

    padding-bottom: 250px;
}

section > article {
    padding: 56px;
}

article > h2 {
    font-size: 48px;
    font-family: 'Noto Sans';
    font-size: 48px;
    letter-spacing: -0.07em;   
    color: var(--black-100);

    padding-bottom: 30px;
}

article > p {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;

    color: var(--black-100);

    padding-bottom: 150px;
}

article > img {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

article > .card {
    width: 630px;
    height: 692.39px;

    background: rgba(204, 204, 204, 0.1);
    border-radius: 36px;

    padding: 54px;

    color: var(--black-100);
    font-size: 26px;
    font-family: 'Roboto';
    font-weight: 300;
}

.card > p {
    padding-top: 30px;
}


.card > .title-card {
    display: flex;
    gap: 20px;
    align-items: center;
}

.title-card> h4 {
    font-size: 30px;
    font-family: 'Noto Sans';
    letter-spacing: -0.07em;   
    color: var(--black-100);
}

.title-card > h3 {
    font-family: 'Noto Sans';
    font-weight: 800;
    font-size: 30px;
    letter-spacing: -0.07em;
    color: var(--orange-100);
}

.title-card > .quadrado {
    height: 20px;
    width: 20px;
    background-color: var(--orange-100);
}

section > .planos {
    display: flex;
    gap: 50px;
}

.linha-conheca {
    margin-bottom: 60px;
    width: 1300px;
    height: 4px;
    background: var(--black-100);
    margin-top: 22px;
}

section > .conheca-title {
    font-size: 125px;
    margin-top: 22px;
}

.conheca-title > span {
    background-color: var(--orange-500);
    width: 400px;
    padding-bottom: 150px;
}

.logo > h4 {
    font-family: 'Roboto';
    font-size: 38px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 0px 120px;
}

footer > div {
    display: flex;
}

footer > div > ul {
    list-style: none;
}

footer > div > ul > li {
    font-size: 38px;
}

footer > div > ul > li > span {
    color: var(--orange-100);
}

span:hover {
    color: var(--black-100);
    transition: 0.3s;
}


footer > .logo {
    display: flex;
    flex-direction: column;
}

.direitos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;

    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -0.07em;
}

.linha-footer {
    margin-bottom: 60px;
    width: 1300px;
    height: 4px;
    background: var(--black-100);
    margin-top: 22px;
    margin-left: 110px;
}

@media screen and (max-width: 600px)  {
    .objeto {
        top: 90px;
        right: 0px;
        width: 256px;
    }
    
    nav > ul {
        gap: 22px;
    }
    
    ul > li {
        font-size: 14px;
    }
    
    nav > h4 {
        font-size: 14px;
    }
    
    .linha {
        width: 100%;
        height: 2px;
        margin-top: 5px;
    }
    
    header {
        padding: 20px 30px 10px 30px;
    }

    main > section {
        margin: 30px;
    }
    
    section > h1 {
        font-size: 30px;
        padding-bottom: 25px;
    }
    
    section > article {
        padding: 8px;
        flex-direction: column;
        align-items: center;
    }
    
    article > h2 {
        font-size: 14px;
        padding-bottom: 10px;
    }
    
    article > p {
        font-size: 10px;
        line-height: 14px;
        padding-bottom: 15px;
    }

    article > img {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    article > .card {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        border-radius: 30px;

        width: 95%;
        height: auto;
        
        padding: 30px;
    }
    
    .card > p {
        padding-top: 15px;
        font-size: 14px;
    }
    
    .title-card> h4 {
        font-size: 16px;
    }
    
    .title-card > h3 {
        font-size: 16px;
    }
    
    .title-card > .quadrado {
        height: 10px;
        width:  10px;
    }
    
    section > .planos {
        gap: 20px;
    }
    
    .linha-conheca {
        width: 100%;
        height: 2px;

        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    section > .conheca-title {
        font-size: 30px;
        margin-top: 10px;
    }
    
    .conheca-title > span {
        width: 100px;
        padding-bottom: 40px;
    }
    
    .logo > h4 {
        font-family: 'Roboto';
        font-size: 16px;
    }
    
    footer {
        padding: 0px 30px;
        gap: 30px;
    }
    
    footer > div > ul > li {
        font-size: 14px;
    }

    .img-contato {
        width: 50px;
    }
       
    footer > .logo {
        width: 80px;
    }
    
    .direitos {
        padding: 10px;
        font-size: 14px;
    }
    
    .linha-footer {
        margin-bottom: 10px;
        width: 85%;
        height: 3px;
        margin-top: 20px;
        margin-left: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .objeto {
        top: 200px;
        right: 0px;
        width: 540px;
    }
    
    nav > ul {
        gap: 50px;
    }
    
    ul > li {
        font-size: 28px;
    }
    
    nav > h4 {
        font-size: 28px;
    }
    
    .linha {
        width: 100%;
        height: 3px;
        /* margin-top: 5px; */
    }
    
    header {
        padding: 40px;
    }

    main > section {
        margin: 40px;
    }
    
    section > h1 {
        font-size: 64px;
        padding-bottom: 200px;
    }
    
    section > article {
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }
    
    article > h2 {
        font-size: 40px;
    }
    
    article > p {
        font-size: 28px;
        line-height: 40px;
        padding-bottom: 15px;
    }

    article > .card {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        border-radius: 30px;

        width: 95%;
        height: auto;
        
        padding: 30px;
    }
    
    .card > p {
        padding-top: 15px;
        font-size: 30px;
    }

    .linha-conheca {
        width: 100%;
        height: 3px;

        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    section > .conheca-title {
        font-size: 65px;
    }
    
    .conheca-title > span {
        padding-bottom: 70px;
        margin: 0;
    }
    
    .logo > h4 {
        font-size: 28px;
    }
    
    footer {
        padding: 10px 30px ;
        gap: 60px;
    }
    
    footer > div > ul > li {
        font-size: 28px;
    }

    .img-contato {
        width: 150px;
    }
       
    footer > .logo {
        width: 150px;
    }
    
    .direitos {
        padding: 20px;
        font-size: 20px;
    }
    
    .linha-footer {
        margin-bottom: 10px;
        width: 93%;
        height: 3px;
        margin-top: 20px;
        margin-left: 30px;
    }
}

/* Estilos para laptops e desktops pequenos (992px a 1199px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .objeto {
        top: 260px;
        right: 0px;
        width: 635px;
    }
    
    ul > li {
        font-size: 30px;
    }
    
    nav > h4 {
        font-size: 30px;
    }
    
    .linha {
        width: 100%;
        height: 3px;
    }
    
    header {
        padding: 60px;
    }

    main > section {
        margin: 60px;
    }
    
    section > h1 {
        font-size: 100px;
        padding-bottom: 200px;
    }
    
    section > article {
        padding: 30px;
        flex-direction: column;
        align-items: center;
    }
    
    article > h2 {
        font-size: 40px;
    }
    
    article > p {
        font-size: 30px;
        line-height: 40px;
        padding-bottom: 15px;
    }

    article > .card {
        display: flex;
        flex-direction: column;
        border-radius: 30px;

        width: 95%;
        height: auto;
    }
    
    .card > p {
        padding-top: 15px;
        font-size: 30px;
    }

    .linha-conheca {
        width: 100%;
        height: 3px;

        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    section > .conheca-title {
        font-size: 85px;
    }

    .conheca-title > span {
        padding-bottom: 100px;
    }
    
    .logo > h4 {
        font-size: 28px;
    }
    
    footer {
        padding: 10px 30px ;
    }

    .img-contato {
        width: 200px;
    }
    
    .direitos {
        padding: 20px;
        font-size: 20px;
    }
    
    .linha-footer {
        margin-bottom: 10px;
        width: 93%;
        height: 3px;
        margin-top: 20px;
        margin-left: 30px;
    }
}

/* Estilos para desktops grandes e telas de alta resolução (1200px ou mais) */
@media (min-width: 1200px) {

}